@tailwind base;
@tailwind components;
@tailwind utilities;

 /* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  @font-face {
    font-family: "SFPRODISPLAYMEDIUM";
    src: url("/src/fonts/SFPRODISPLAYMEDIUM.OTF");
  }
  * {
    scroll-behavior: smooth;
  }
  .pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
  }